body{

    margin: 0%;
    
    height: 100%;
 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.head{
    border-radius: 10px;
     padding:10px;
    color: aliceblue;
    opacity: 1;
    background-color: rgb(42, 38, 52);
    text-align: center;
    margin: 0px;
    height: 800px;
    background-image: url(img/test.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
#logo{
position: absolute;
text-align: center;
left: 780px;
    top: 450px;
    
}
.toolbar{ top: 0px;
    
    position: sticky;
   
    
}
.toolbar_box{
    height: 40px;
overflow: hidden;

}

nav a{
    display: block  ;    
    color: rgb(255, 252, 252);
    padding: 10px 20px;
    text-decoration: none;
    float: left;
    
}
nav a:hover{
    color: rgb(12, 12, 15);
    background-color: aliceblue;
    
}

/*
#pic1{
    background-color: rgb(240, 234, 225);
}
#pic2{ 
    background-color: rgb(240, 234, 225);
}
#pic3{
    background-color: rgb(227, 238, 235);
}*/
.pbox{
    float: left;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 120px;
    height: 150px;
    padding: 10px;
    margin: 0px;
    opacity: 1;

      
} 
.pbox:hover{
   /* box-shadow: 10px 10px 5px rgb(72, 74, 74);*/   
}
.idbox{ 
    margin: 0px;
    width: 400px;
    height: auto;
    border:solid black 0px;
     background-color: rgb(253, 246, 246);
    border-radius: 0px;
    opacity: 1;
}
.idbox:hover{
    box-shadow: 5px 5px 2px rgb(72, 74, 74);
    background-color: blue;
    color: white;
    border-radius: 10px;
    opacity: 0.9;   
} 

.infobox{ 
   
    margin: 0px;
    padding: 30px;
}

.gred{
    padding: 20px;
    display: flex;
    bottom: 0px;

flex-wrap: wrap ;
align-content:center;
justify-content: center;



  
}